:root {
    --brand-primary: #f18485;
    --brand-secondary: #fabb34;
    --grey: #545454;
    --white: #FFF;
}


/* Loading spinner */
.loader-3d {
    top: calc(50% - 12.5px);
    left: calc(50% - 100px);
    position: absolute !important;
  }
  
.loader-3d, .loader-3d:before, .loader-3d:after {
    width: 200px;
    height: 40px;
    background: no-repeat;
    background-image: radial-gradient(closest-side, var(--brand-primary) 100%, transparent), radial-gradient(closest-side, var(--brand-secondary) 100%, transparent);
    background-size: 20px 20px, 20px 20px;
    background-position: 0% center, 100% center;
    position: absolute;
    transform: translateZ(0);
    animation: slide 1.5s cubic-bezier(.5,0,.5,1) infinite, zoom ease-out .75s infinite alternate;
    content: '';
}
.loader-3d {
    animation-delay: .5s;
}
.loader-3d:after {
    animation-delay: 1s;
}

h1 {
    font-size: 24px;
    margin: "20px 0px 10px 0px"
}

h2 {
    font-size: 20px;
    margin: "10px 0px"
}
p {
    margin-bottom: 10px;
}
ul {
    margin-bottom: 20px;
}

b {
    color:rgb(12, 179, 123);
    /* color: rgb(40,186,116); */
    font-size:20px;
}